@page "/sair"
@inherits LogoutPage
@layout HeadlessLayout

<PageTitle>Orcan - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando Sessão...</MudText>

<MudPaper Class="pa-8 mt-4">
    <div class="d-flex justify-center pb-u pt-8">
        <img src="imgs/orcanlogo.png" alt="Logo" width="250" />
    </div>
    <MudAlert Severity="Severity.Info">
        <div>
            Sessão Finalizada....
            <MudButton Variant="Variant.Text" Href="/login">Ir para a tela de Login</MudButton>
        </div>

    </MudAlert>
</MudPaper>