@page "/"

@layout HeadlessLayout

<PageTitle>Orçan - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6">
        <MudPaper Class="mud-width-full pa-8">
          <div class="d-flex justify-center pb-8 pt-8">
                <img src="imgs/orcanlogo.png" alt="Logo" width="250" />
          </div>
            <h1>Autentique-se</h1>
        </MudPaper>
    </MudItem>
</MudGrid>