@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h1>Você não tem acesso a esta área</h1>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Erro 404</h1>
                <p role="alert">Página não encontrada</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Verifique a autenticação (ou qualquer outra lógica que você precise)
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        // Se o usuário não estiver autenticado, redireciona para a página de login
        if (user == null || !user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
